.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif
}
p{
    color: #9fabb2;
    margin-bottom: 2rem;
}

.container{
    padding-top: 5rem;
    width: 100%;
    min-height: 50vh;
    background-image: url(images/bg-header-desktop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.btns button{
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 1.5rem;
    color: #ffffff;
    font-size: 1.4rem;
    margin: 1rem;
    transition: 300ms all;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
}

.btn-left{
    background-color: #26baa4;
}
.btn-right{
    background-color: #6173ff;
}
.btn-left:hover{
    background-color: #31f4d7;
}
.btn-right:hover{
    background-color: #8693fc;
}

/* -------keep sec --- */
.keep-Track{
    width: 100%;
    min-height: 70vh;
    margin-bottom: 5rem;
    
}
.keep-header{
    width: 40%;
    margin: auto;
    line-height: 2rem;
}
.keep-base{
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-align: start;
}
.keep-base img{
    width: 50%;
    
}
.keep-titles{
    width: 35%;
}
.access{
    width: 45%;
    margin: auto;
}
.access img{
    width: 100%;

}

/* ----supercharge sec ---  */
.supercharge{
    width: 80%;
    margin: auto;

}
.super-body{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.images{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 5rem 0;
    justify-content: space-around;
}
.footer{
    width: 50%;
    margin: auto;
    padding: 5rem;

}
.last-sec{
    margin: 0;
    background-color: #e5e5e5;
}
.last-sec,.details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.details{
    width: 60%;
}
.social{
    width: 20%;
}
.details img:first-child{
    width: 50px;
    margin: 1rem;
}
.links a{
  display: block;
  text-decoration: none;
  margin: 1rem 0px;
    text-align: start;

}
.links a:hover,.social img:hover{
    color: #26baa4;
}
.social img{
    padding: 1rem;
}
@media screen  and (max-width:688px) {
    .keep-Track{
        width: 100%;
    }
    .footer,.keep-bottom,.keep-header,.keep-base,.supercharge,.access,.keep-titles,.keep-header,.keep-base{
        width: 90%;
        margin: auto;
    }
    .keep-base{
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .keep-base img{
        width: 100%;
        margin: auto;
    }
    .access,.super-body,.images{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 70vh;
    }
    .last-sec,.social,.details,.links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .footer{
    padding: 0%;
    margin-bottom: 3rem;
   }
    
}